@import 'reset';

html{
  height: 100%;
}
body{
  height: 100%;
  font-family: monospace;
}

#content{
  position: absolute;
  height: 100%;
  width: 100%;
  perspective: 500px;
}

.control-3d{
  position: absolute;
  outline: 0 none;
  top: 10px;
  left: 10px;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

#map {
  transform-style: preserve-3d;
}

#map{
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s; 
  &.pers{
    transform: translateY(200px) rotateX(90deg);
  }
}

.marker{
  //transform: translateZ(1px);
}

//.leaflet-map-pane, 
#map *{
  transform-style: preserve-3d;
}


.drone-point{
  position: absolute;
  background: orange;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  transform: translateZ(2px);
}

.altitude{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  background: white;
  transform-origin: top center;
}



.plan{
  position: absolute;
  border: 1px solid red;
  background: rgba(255,0,0,0.3);
  width: 100%;
  height: 100%;
  left: 50px;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
}

.int{
  position: absolute;
}

.point{
  position: absolute;
  border: 1px solid green;
  background: rgba(0,255,0,0.3);
  width: 40px;
  height: 40px;
  top: 150px;
  left: 150px;
  transform-style: preserve-3d;
}

.bar{
  position: absolute;
  border: 1px solid blue;
  background: rgba(0,0,255,0.3);
  height: 30px;
  width: 3px;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
}
